{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tickets) }}
    </div>

    <a href="{{ path('app_ticket_new') }}">Create new</a>
{% endblock %}
